@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.logo {
    margin-left: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #d4af37;
}

.logo img {
    height: 50px;
    width: 50px;
}

nav {
    text-align: right;
    margin: 0 15px ;
    display: flex;
    gap: 10px;
}
nav a {
    color: #d4af37;
    text-decoration: none;
}
 
a:hover {
    color:#C97C2F ;
    text-decoration: underline;
}

header {
    background-color: #0A0A0A;
    border: solid 2px black;
    height: 75px;
    margin: 15px 15px;

    display:flex;
    justify-content: space-between;
    align-items: center;
}
body {
    color: #0A0A0A ;
    background-color: white;
    
}

main {
    margin: 15px 15px;
}

.hero {
   
    padding: 25px;
    box-shadow: 0 4px 8px #0A0A0A ;
    border-radius: 8px;
    background-color: white;
}

.hero img {
    height: 200px;
    width: 100%;
}

.hero h1{
    text-align: center;
}

.hero p {
    text-align: center;
}

.skills_row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.all_skills {
    flex: 1;            
    padding: 15px;
    max-width: 50%;
    height: 360px;
    box-shadow: 0 2px 8px #0A0A0A;
    border-radius: 8px;
    background-color: white;
}

.skills {
    height: 120px;
    display: block;
    margin: 0 auto;
    
}

.all_skills h3 {
    text-align: center;
}

.all_skills p, ul {
    border: solid 2px black;
    padding: 5px 0px 0px 20px;

}

footer {
    border: solid 2px black;
    margin: 15px;
    text-align: center;
    background-color: #0A0A0A;
    color: #d4af37;
    
}

h1, h3 {
    font-family: "Anton", sans-serif;
}

h3 {
    color: #d4af37;
}

main {
    font-family: "Inter", sans-serif;
}

/* This is the main box that encapsulates the about and get in touch boxxes */

.aboutmain {
    border: solid 3px black;
    border-radius: 8px;
    align-items: center;
    padding: 0px 25px 25px 25px;
}

/* First box within main */

.aboutjack {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 30px;
}

.aboutjack h2 {
    text-align: center;
    margin-bottom: 20px;
    grid-column: 1 / 9;
}

.aboutjack img {
    width: 100%;
    height: 87%;
    border: solid 3px black;
    box-shadow: 0 4px 8px #0A0A0A ;
    border-radius: 8px;
    grid-column: 1 / 4;
    margin-top: -5px;
    margin-bottom: 50px;
}

.aboutjack p {
    border: solid 3px black;
    box-shadow: 0 4px 8px #0A0A0A ;
    border-radius: 8px;
    padding: 20px;
    grid-column: 4 / 9;
    padding-bottom: 220px;
    margin-left: 20px;
    margin-top: -5px;
    margin-bottom: 50px;
}

/* Second box within main */

.getintouch {
    display: grid;
    grid-template-rows: auto;
    border: solid 3px black;
    box-shadow: 0 4px 8px #0A0A0A ;
    border-radius: 8px;
    padding: 0px 20px 0px 20px;
}

.getintouch h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.getintouch p {
    margin: 18px 0px 18px;
}

.getintouch label, .getintouch input {
    border: solid 3px black;
    box-shadow: 0 4px 8px #0A0A0A ;
    border-radius: 8px;
    padding-left: 10px;
}
.getintouch input {
    margin-top: 5px;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-block: 12px;
    background-color: #e6e6e6;
}

.getintouch #message {
    padding-bottom: 200px;
}

.getintouch #submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
}