@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.logo {
    margin-left: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 50px;
    width: 50px;
}

nav {
    text-align: right;
    margin: 0 15px ;

    display: flex;
    gap: 10px;
}

header {
    background-color: #d4af37;
    border: solid 2px black;
    height: 75px;
    margin: 15px 15px;

    display:flex;
    justify-content: space-between;
    align-items: center;
}
body {
    border: solid 2px black;
}

main {
    margin: 15px 15px;
}

.hero {
    border: solid 2px black;
    padding: 25px;
}

.hero img {
    height: 200px;
    width: 100%;
}

.hero h1{
    text-align: center;
}

.hero p {
    text-align: center;
}

.skills_row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.all_skills {
    flex: 1;            
    border: 2px solid black;
    padding: 15px;
    max-width: 50%;
    height: 360px;
}

.skills {
    height:120px;
    display: block;
    margin: 0 auto;
    
}

.all_skills h3 {
    text-align: center;
}

.all_skills p, ul {
    border: solid 2px black;
    padding: 5px 0px 0px 20px;

}

footer {
    border: solid 2px black;
    margin: 15px;
    text-align: center;
    background-color: #d4af37;
}

h1, h3 {
    font-family: "Anton", sans-serif;
}

main {
    font-family: "Inter", sans-serif;
}