.logo {
    margin-left: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 50px;
    width: 50px;
}

nav {
    text-align: right;
    margin: 0 15px ;

    display: flex;
    gap: 10px;
}

header {
    background-color: #d4af37;
    border: solid 2px black;
    height: 75px;
    margin: 15px 15px;

    display:flex;
    justify-content: space-between;
    align-items: center;
}
body {
    border: solid 2px black;
}

main {
    margin: 15px 15px;
}

.hero {
    border: solid 2px black;
    padding: 25px;
}

.hero img {
    height: 200px;
    width: 100%;
}

.hero h1{
    text-align: center;
}

.hero p {
    text-align: center;
}

.skills {
    
}